<div id="container" style="display: inline-flex">
  <div class="mth-container-scratch" id="js-container">
    <canvas class="canvas" id="js-canvas"></canvas>
    <form class="form" style="visibility: hidden">
      <a
        href=""
        target="_blank"
        onclick="mthSendClick(this)"
        data-id="mth-creative-metro-scratch"
        data-campaign=""
        data-creative=""
      >
        <img
          src="https://ftp.mathilde-ads.com/151-21e4e2fa2f1db3eaeb10a4705b48e371.webp"
          alt=""
          class="imagen"
        />
      </a>
    </form>
  </div>
</div>
