.black {
  color: #000000;
}
.layoutitle {
  font-weight: 700;
  size: 64px;
  line-height: 64px;
}

.textlayout {
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

.divcard {
  border-radius: 24px;
}
