<!-- <div class="page-header" data-parallax="true" style="background-image: url('./assets/img/daniel-olahh.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Example page</h1>
            <h3>Start designing your landing page here.</h3>
            <br />
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Watch video</a>
            <button type="button" class="btn btn-outline-neutral btn-round">Download</button>
        </div>
    </div>
</div> -->
<div class="main">
  <div class="section">
    <div class="container mt-3">
      <div class="row">
        <div class="col-12 col-md-6 mr-auto ml-auto">
          <h2 class="letter font-weight-bold black layoutitle">
            La Ayuda que Necesitas, <br />
            Donde lo necesitas
          </h2>
          <p class="letter mt-3 font-weight-bold black textlayout">
            Ofrecemos soluciones a tus dispositivos móviles y computadores en la
            puerta de tu casa, o si lo prefieres podremos solucionarlo
            remotamente vía telefónica.
          </p>
          <br />
          <button type="button" class="btn btn-lg btn-success btn-round">
            Contáctanos
          </button>
        </div>
        <div class="col-12 col-md-6">
          <img
            src="../../../assets/img/computers.png"
            alt=""
            style="width: 100%"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="section text-center" style="background-color: #4388ed">
    <div class="container">
      <div class="row">
        <div class="col-6 offset-3">
          <h4 class="title font-weight-bold letter">
            En 3 simples pasos podrás obtener <br />
            <span class="font-weight-bold text-white"
              >soluciones inmediatas,</span
            >
            en remoto o en la puerta de tu casa
          </h4>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-4">
          <div class="border border-white divcard" style="height: 250px">
            <div class="text-center p-5">
              <img src="../../../assets/img/Arte.png" alt="..." />
            </div>

            <h6 class="font-weight-bold letter text-white">
              Comunícate con nosotros
            </h6>
          </div>
        </div>

        <div class="col-md-4">
          <div class="border border-white divcard" style="height: 250px">
            <div class="text-center p-5">
              <img src="../../../assets/img/headphones.png" alt="..." />
            </div>

            <h6 class="font-weight-bold letter text-white">
              Escuchamos tus necesidades
            </h6>
          </div>
        </div>

        <div class="col-md-4">
          <div class="border border-white divcard" style="height: 250px">
            <div class="text-center p-5">
              <img src="../../../assets/img/image1.png" alt="..." />
            </div>

            <h6 class="font-weight-bold letter text-white">
              Te brindamos una solución
            </h6>
          </div>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-12">
          <div class="text-center">
            <button type="button" class="btn btn-lg btn-success btn-round">
              Contáctanos
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container mt-3">
      <div class="row">
        <div class="col-7 offset-5 mr-auto ml-auto">
          <h2 class="letter font-weight-bold black layoutitle text-center">
            El servicio que necesitas <br />
            en la puerta de tu casa
          </h2>
        </div>
      </div>

      <div class="row mt-5">
        <div
          class="col-12 col-sm-12 col-md-3 col-lg-2 mb-2 mb-md-3 mb-lg-3"
          *ngFor="let item of servicios"
        >
          <div class="text-center">
            <app-buttonservice [name]="item.name"></app-buttonservice>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid ps-0 pb-0">
    <div class="row">
      <div class="col-12" style="background-color: rgba(99, 213, 149, 1)">
        <div>
          <p class="letter message">
            Servicio nacional | A un solo click podrás tener la ayuda que
            necesitas para tu computador y cualquier dispositivo móvil.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container mt-0 pt-0">
      <div class="row">
        <div class="col-6">
          <h1 class="letter font-weight-bold black">Contáctenos</h1>
          <br />
          <p class="letter width400 mt-3">
            No importa el problema, no importa el lugar
            <span class="font-weight-bold width700">
              ¡nosotros te ayudamos!</span
            >
          </p>

          <div class="row">
            <div class="col-12">
              <div class="d-flex h-25">
                <div>
                  <img
                    src="../../../assets/img/Arte.png"
                    alt=""
                    srcset=""
                    width="75%"
                  />
                </div>
                <div class="text-center">
                  <h2 class="letter width700 ml-2">314 433 3458</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="mt-5" style="width: 50%">
            <button
              type="button"
              class="btn btn-block btn-round border-0 bg-green"
            >
              ¡Llámanos!
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section" style="background-color: #4388ed">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <h2 class="letter font-weight-bold black width700">
            ¿Prefieres que nosotros nos pongamos en contacto contigo?
          </h2>
        </div>
      </div>

      <form class="contact-form">
        <div class="row">
          <div class="col-6">
            <p class="letter black textlayout text-justify">
              Si prefieres que nosotros nos pongamos en contacto contigo, llena
              el siguiente formulario y te responderemos en menos de un día.
            </p>
          </div>

          <div class="col-6">
            <div class="row">
              <div class="col-12">
                <input
                  type="text"
                  class="form-control rounded"
                  placeholder="Nombre"
                />
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-6">
                <input
                  type="text"
                  class="form-control rounded"
                  placeholder="Télefono"
                />
              </div>
              <div class="col-6">
                <input
                  type="text"
                  class="form-control rounded"
                  placeholder="Correo"
                />
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-12">
                <textarea
                  class="form-control rounded"
                  rows="4"
                  placeholder="Mensaje"
                ></textarea>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <div class="text-center">
                  <button
                    type="button"
                    class="btn btn-round border-0 bg-green w-25"
                  >
                    Enviar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-md-6">
            <label>Name</label>
            <div
              class="input-group"
              [ngClass]="{ 'input-group-focus': focus === true }"
            >
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="nc-icon nc-single-02"></i
                ></span>
              </div>
              <input
                type="text"
                class="form-control"
                placeholder="Name"
                (focus)="focus = true"
                (blur)="focus = false"
              />
            </div>
          </div>
          <div class="col-md-6">
            <label>Email</label>
            <div
              class="input-group"
              [ngClass]="{ 'input-group-focus': focus1 === true }"
            >
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="nc-icon nc-email-85"></i
                ></span>
              </div>
              <input
                type="text"
                class="form-control"
                placeholder="Email"
                (focus)="focus1 = true"
                (blur)="focus1 = false"
              />
            </div>
          </div>
        </div>
        <label>Message</label>
        <textarea
          class="form-control"
          rows="4"
          placeholder="Tell us your thoughts and feelings..."
        ></textarea>
        <div class="row">
          <div class="col-md-4 mr-auto ml-auto">
            <button class="btn btn-danger btn-lg btn-fill">Send Message</button>
          </div>
        </div> -->
      </form>
    </div>
  </div>
</div>
